body {
  margin: 0 auto;
}

/* div.center {
  background-color: bisque;
  height: auto;
} */

div.Btn {
  margin-bottom: 1rem;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: 5rem;

  border: none;
  border-radius: 6px;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
}
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

button.taskBtn {
  color: white;
  background-color: #b4c4ff;
}

button.coreBtn {
  color: #1b4dff;
  background-color: #f2f5ff;
}

span {
  font-weight: bold;
}
