@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  margin: 0 auto;
  display: flex;
}

#center {
  height: 100vh;
  width: 40rem;
  justify-content: center;
  display: flex;
  position: relative;
}

#btnBox {
  justify-content: center;
  position: absolute;
  bottom: 18rem;
}

div.btn {
  margin-bottom: 1rem;
  justify-content: center;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: 5rem;

  border: none;
  border-radius: 6px;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
}
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

button.taskBtn {
  color: white;
  background-color: #b4c4ff;
}

button.coreBtn {
  color: #1b4dff;
  background-color: #f2f5ff;
}

span {
  font-weight: bold;
  margin-right: 1rem;
}

.dropdown-label {
  height: 4rem;
  font-size: 12px;
  margin: 10px;
  font-weight: bold;
  color: rgb(50, 50, 50);
  margin-top: 25rem;
}

.dropdown {
  position: relative;
  justify-self: center;
  /* display: inline-block; */
}

.dropbtn_icon {
  font-family: "Material Icons";
}
.dropbtn {
  display: block;
  border: 2px solid rgb(94, 94, 94);
  border-radius: 4px;
  background-color: #fcfcfc;
  font-weight: 400;
  color: rgb(124, 124, 124);
  padding: 12px;
  width: 30rem;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  z-index: 1;
  position: relative;
}
.dropdown-content {
  display: none;
  font-weight: 400;
  background-color: #fcfcfc;
  min-width: 240px;
  border-radius: 8px;
  height: 160px;
  overflow: scroll;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
}
.dropdown-content::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgb(194, 194, 194);
}

.dropdown-content div {
  display: block;
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-size: 12px;
  padding: 12px 20px;
}
.dropdown-content div:hover {
  background-color: rgb(226, 226, 226);
}

.dropdown-content.show {
  display: block;
}
