@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  margin: 0 auto;
  display: flex;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: 5rem;

  border: none;
  border-radius: 6px;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  /* transition: 0.5s; */
}

ul {
  list-style: none;
  padding-left: 0px;
}

#center {
  height: 100vh;
  width: 40rem;
  justify-content: center;
  position: relative;
}
canvas {
  width: 550px;
  height: 275px;
  display: block;
}
h1, h2{
  text-align: center;
}
.print {
  /* background-color: red; */
  height: 30rem;
  width: inherit;
}

#form {
  height: 15rem;
  border-radius: 6px;
  background-color: #fff;
  display: block;
  /* background-color: coral; */
}

.dropdown {
  margin-top: 20px;
  position: relative;
  z-index: 1;
  width: inherit;
  margin-bottom: 8px;
}

.dropdown-toggle {
  -webkit-animation: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100%;
  height: 50px;
  padding: 0 16px;
  line-height: 50px;
  color: rgba(133, 136, 150, 0.5);
  text-align: left;
  border: 1px solid rgba(224, 226, 231, 0.75);
  border-radius: 6px;
  /* transition: border-color 100ms ease-in; */
}

.dropdown-toggle.selected {
  color: #3f4150;
  /* border-color: rgba(224, 226, 231, 1); */
}

.dropdown-toggle:active {
  border-color: rgba(224, 226, 231, 1);
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  transition: max-height 500ms ease-in, box-shadow 500ms ease-in;
}

.dropdown-menu.show {
  max-height: 280px;
  box-shadow: 0 4px 9px 0 rgba(63, 65, 80, 0.1);
}

.dropdown-option {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  line-height: 44px;
  text-align: left;
}

.dropdown-option:hover {
  background-color: #f8f9fa;
}

.next-button {
  display: block;
  width: 100%;
  height: 44px;
  padding: 0 16px;
  line-height: 44px;
  color: #f8f9fa;
  background-color: #1b1c32;
  border-radius: 6px;
  /* transition: background-color 150ms ease-in; */
}

.next-button:disabled {
  background-color: #e0e2e7;
  cursor: not-allowed;
}

#btnContainer {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  /* background-color: #b4c4ff; */
}

/* div.btn {
  margin-bottom: 1rem;
} */

button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

button.taskBtn {
  margin-right: 0.2rem;
  color: white;
  background-color: #b4c4ff;
}

button.coreBtn {
  margin-right: 0.2rem;
  color: #1b4dff;
  background-color: #f2f5ff;
}

span {
  font-weight: bold;
  margin-right: 1rem;
}
