<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link href="upload.css" rel="stylesheet" />
  </head>
  <body>
    <div id="center">
      <div id="header">NODE.JS</div>
      <div id="container">
        <div id="upload">파일 업로드</div>
        <div id="input_box">
          <div class="file_name"></div>
          <div class="circle">
            <img
              class="arrowup_icon"
              src="./image/ArrowUpIcon.png"
              alt="icon"
            />
          </div>
        </div>
        <div id="button_box">
          <button class="button1" value="업로드">업로드</button>
          <button class="button2" value="삭제">삭제</button>
        </div>
      </div>
    </div>
  </body>
</html>
