<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link type="text/css" href="/upload.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div class="container"></div>
            </div>
            <div id="banner">
                <div class="container">
                    <div id="name"><b>NODE.JS</b></div>
                </div>
            </div>
            <div id="contents">
                <div class="container">
                        <div id="upload">파일 업로드</div>
                        <div id="file_name"></div>
                        <div id="circle">
                            
                        </div>
                        <form action="/chart" method="post" enctype="multipart/form-data">
                            <input style="color: black;" type="file" id="txtFileInput" name="txtFile" accept=".txt" required>
                            <button type="submit">파일 업로드하기</button>
                          </form>
                        <div id="arrow"><img src=icon.png width="70px" height="70px"></div>
                        <div id="button1"><input type="button" value="업로드" style="border: none; background: transparent;font-size:30px;
                            font-family: 'Song Myung', serif;"></div>
                        <div id="button2"><input type="button" value="삭제" style="border: none; background: transparent;font-size:30px;
                            font-family: 'Song Myung', serif;"></div>

                </div>
            </div> 
            <div id="footer">
                <div class="container"></div>
            </div>
        </div>
    </body>
</html>