<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8"/>
    <title>main</title>
    <link href="upload.css" rel="stylesheet" />
  </head>
  <body>
    <div id="center">
      <div id="header">NODE.JS</div>
      <div id="container">
        <div id="upload">파일 업로드</div>
        <form method="post" name="txtFile" enctype="multipart/form-data" action="/chart">
          <div id="input_box">
            <input class="upload_name" value="파일을 선택해주세요" disabled="disabled" />
            <label class="a" for="chooseFile">
              <div class="circle">
                <img class="arrowup_icon" src="./image/ArrowUpIcon.png" alt="icon" />
              </div>
            </label>
            <input type="file" id="chooseFile" name="txtFile" accept=".txt" />
          </div>
          <div id="button_box">
            <button class="button1" type="submit" value="업로드">업로드</button>
            <button class="button2" value="삭제">삭제</button>
          </div>
        </form>
        <div class="historyDiv">
          <h3>기존 파일 목록</h3>
          <form action="/chart" method="get">
            <div class="historyList">
              <ul>
                {% for table in showTable %}
                <li>
                  <input type="radio" id="{{ table }}" name="tables" value="{{ table }}" required>
                  <label for="{{ table }}">{{ table }}</label>
                </li>
                {% endfor %}
              </ul>
            </div>
            <button type="submit">불러오기</button>
            <button type="button" onclick="dropTable(document.querySelector('input[name=\'tables\']:checked').value)">삭제</button>
          </form>         
          {{alert}} 
        </div>
      </div>
      </div>
    </div>
    </div>
    <script type="text/javascript" src="upload.js" charset="utf-8"></script>
    <script charset="utf-8">
      function dropTable(value) {
        const queryString = `tables=${value}`;
        const isDrop = confirm(value+" 파일을 정말로 지우시겠습니까?");
        if(isDrop){
          fetch(`/?${queryString}`)
          .then(()=>{location.href = '/';})//새로고침
          .catch((e)=>{console.log(e)});
          //location.href = `/?${queryString}`;
        }
      }
      if("{{alert}}"){
        alert("올바르지 않은 데이터 입니다.");
        window.history.back();
      }
    </script>
  </body>
</html>
